@charset "utf-8";
/* CSS Document */
/* base */
html{ height:100%; overflow:hidden;}
body{
	padding:0; margin:0; height:100%; max-height:100%; min-height:300px; overflow:hidden; border:0;
	font: 12px/20px "microsoft yahei", Helvetica, Arial, "宋体", sans-serif;
}
ul,li,ol,dl,dt,dd{ list-style:none; padding:0; margin:0;}
a{ text-decoration:none;}
img{ border:none;}
input{ border:none; outline:none;}


/* top */
#top{ 
	position:absolute; width:100%; left:0; top:0; height:45px; overflow:hidden;
	background: url("../images/BawntL3V.png") repeat-x;
	background-position: 0px -684px;
}
#top .logo{
	background:url("../images/BawntL3V.png") 0px -588px no-repeat;
	height:100%; width:126px; float:left;
}
#top .search{
	width:188px; height:25px; white-space:nowrap; position:relative; margin:10px 0 0 10px;
	float:left; overflow:hidden;
}
#top .search input[type="text"]{
	width:168px; padding:4px 10px 3px; height:18px; line-height:20px;
	background: url("../images/BawntL3V.png") no-repeat;
	background-position: 0px -456px;
}
#top .search .search-btn{
	border:none; position:absolute; width:25px; height:25px; top:0px; right:0px; cursor:pointer;
	background:none; outline:none;
}
/* bottom */
#bottom{
	overflow:hidden; width:100%; height:75px; position:absolute; left:0px; bottom:0;
	background: url("../images/MGWE4KMY.png") 0px -1176px repeat-x;
}
.left-panel{
	width:146px; height:45px; float:left; overflow:hidden; margin:20px 0 20px 24px;
}
.left-panel a{
	display:block; float:left; cursor:pointer;
}
.left-panel .prev,.left-panel .next{
	width:21px; height:21px; margin-top:9px;
}
.left-panel .prev{
	background: url("../images/MGWE4KMY.png") no-repeat -168px -864px;
}
.left-panel .prev:hover{
	background-position:-144px -1128px;
}
.left-panel .next{
	background: url("../images/MGWE4KMY.png") no-repeat -144px -937px;
}
.left-panel .next:hover{
	background-position:-143px -888px;
}
.left-panel .play{
	width:29px; height:40px; background: url("../images/MGWE4KMY.png") no-repeat -120px -384px;
	margin:0px 29px;
}
.left-panel .stop{
	background: url("../images/MGWE4KMY.png") no-repeat -120px -336px;
}

.main-panel{
	float:left; overflow:hidden; height:100%; color:#fff; position:relative; padding-left:20px;
}
.panel-title{
	margin:10px 0px; font-size:14px; height:20px; line-height:20px; width:100%; position:relative;
	float:left; overflow:hidden;
}
.panel-title .title{
	float:left; overflow:hidden;
}
.panel-title .title .split{ padding:0px 5px;}
.panel-title .title .artist{ cursor:pointer;}
.panel-title .icons{
	height:20px; overflow:hidden; margin:2px 0 0 15px; float:left;
}
.panel-title .icons li{
	float:left; margin:2px 8px 0 0; overflow:hidden;
}
.panel-title .icons li a{
	display:block;
}
.panel-title .icons .favor{
	background:url("../images/MGWE4KMY.png") -120px -432px no-repeat;
	text-indent:-999px; width:23px; height:16px; cursor:pointer;
}
.panel-title .icons .download{
	background:url("../images/UXa4mNe8.png") -528px -108px no-repeat;
	text-indent:-999px; width:15px; height:15px; cursor:pointer;
}

.pane{
	clear:both; padding-bottom:10px;
}
.progress-wrapper{
	width:300px; height:7px; margin-top:7px; position:relative; padding-top:1px;
	border-radius:4px; background-color:#505050; float:left;
	box-shadow:0px 1px #000 inset;
}
.progress-wrapper .loaded{
	height:7px; background-color:#666; border-radius:4px;
}
.progress-wrapper .progressing{
	position:absolute; left:0; top:1px; height:7px; background-color:#3582a0; border-radius:4px;
}
.progress-wrapper .progressing .focus{
	display:block; position:absolute; right:-18px; top:-5px; cursor:pointer; width:18px; height:18px;
	background: url("../images/MGWE4KMY.png") no-repeat -108px -132px;
}
.pane .time {
	width: 90px;font-size: 10px;line-height: 20px;margin-right: 17px;text-align: center;overflow: hidden;
	float:left;
}

.playmodel{
	float:left; overflow:hidden; margin-top:3px;
}
.playmodel li{
	float:left; overflow:hidden;	
}
.playmodel li a{
	display:block; width:18px; height:15px; cursor:pointer;
	background: url("../images/MGWE4KMY.png") no-repeat;
}
.playmodel li a.single{ margin:0px 10px;}
.playmodel li a.random{
	background-position:-168px -1080px;
}
.playmodel li a.random:hover{
	background-position:-168px -912px;
}
.playmodel li a.single{
	background-position:-168px -984px;
}
.playmodel li a.single:hover{
	background-position:-144px -1008px;
}
.playmodel li a.cycle{
	background-position:-24px -1152px;
}
.playmodel li a.cycle:hover{
	background-position:-168px -936px;
}
.playmodel li a.random.cur{
	background-position:-204px -336px; background-image:url(../images/BawntL3V.png);
}
.playmodel li a.single.cur{
	background-position:-192px -384px; background-image:url(../images/BawntL3V.png);
}
.playmodel li a.cycle.cur{
	background-position:-204px -312px; background-image:url(../images/BawntL3V.png);
}
.volume{
	overflow:hidden; float:left; margin:3px 0 0 25px; height:20px; width:120px;
}
.volume .mute, .volume .muted {
	background-repeat: no-repeat;text-indent: -999px;display: block !important;float: left;width: 16px;height: 16px;
	cursor:pointer;
}
.volume .mute {
background: url("../images/MGWE4KMY.png") no-repeat -144px -864px;
}
.volume .mute:hover {
background: url("../images/MGWE4KMY.png") no-repeat -48px -1152px;
}
.volume .muted {
background: url("../images/OCCgoQf0.png") no-repeat -372px -468px;
}
.volume .muted:hover {
background: url("../images/OCCgoQf0.png") no-repeat -408px -516px;
}
.volume .vol-slider-wrapper {
	width:75px; margin-left:30px; height:4px;
	border-radius:2px; margin-top:6px; border:none; position:relative;
}
.vol-slider-bar{
	position:absolute; left:0; top:0; background:url("../images/MGWE4KMY.png") no-repeat 0px -444px;
	width:100%; height:100%;
}
.volume .vol-slider{
	height:4px; position:absolute; background-color:#fff; width:0%; left:0px; top:0px;
}
.volume .vol-slider .focus{
	display:block; width:13px; height:13px; position:absolute; top:-4px; right:-7px;
	background: url("../images/MGWE4KMY.png") no-repeat -168px -1032px;
}
/* main */
#main{
	position:absolute; top:45px; bottom:75px; overflow:hidden; width:100%;
}
.main-warp{
	height:100%;
}
.leftbar{
	width:171px; border-right:1px solid #c1c1c1; position:absolute; left:0; height:100%; overflow:hidden;
	background-color:#f4f4f4;
}
.leftbar-wrapper{
	width:100%; height:100%; overflow:hidden; overflow-y:auto;
}
.temp-list{
	overflow:hidden; margin:10px;
}
.temp-list li{
	display:block; height:25px; line-height:25px; position:relative; cursor:pointer;
	overflow:hidden;
}
.temp-list li a{
	display:block; width:100%; height:100%; cursor:pointer; padding-left:26px;
}
.temp-list li a:hover,.temp-list li a.cur{
	background-color:#fff;
}

.my-music{
	margin:10px; overflow:hidden;
}
.my-music dt{
	height:25px; line-height:25px; padding-left:8px;
}
.my-music dd{
	height:25px; line-height:25px; overflow:hidden;
}
.my-music dd a{
	display:block; height:100%; width:100%; padding-left:26px; cursor:pointer;
}
.my-music dd a.cur,.my-music dd a:hover{
	background-color:#fff;
}
.addList{
	border:1px solid #cececf; border-radius:4px; width:53px; height:20px; text-indent:5px;
	line-height:20px; color:#333; margin:0; display:block; cursor:pointer; margin:5px 0 0 18px;
}
.addList:hover{ background-color:#fff;}


.lrcbox{
	position:absolute; top:0px; right:0px; width:250px; border-left: 1px solid #c1c1c1; height:100%;
}
.album-wrapper {
	width:100%; background:#fff; text-align:center;
}
.album-wrapper .album {
	text-align:center; margin:20px 0 11px; color:#333; padding-right:6px;
}
.album-wrapper .album img {
	border-radius:5px; box-shadow:0px 1px 3px #999;
}
.album-wrapper .album-name {
	margin-top:2px; color:#333; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.album-wrapper .split{
	height:1px; overflow:hidden; background:url("../images/MGWE4KMY.png") 0px -1116px no-repeat;
	width:200px; margin:0 auto 15px;
}
.lrc-wrapper {
	color:#666; overflow-y:auto; position:absolute; top:210px; bottom:0px;
	line-height:28px; font-size:12px; width:100%; background:#fff;
	-webkit-transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s;
	-ms-transition:all ease-in-out .2s;  -ms-transition:all ease-in-out .2s;
}
.lrc-wrapper .no-lrc {
	display:none; height:100%; text-align:center;
}
.no-lrc-hint{ margin-top:50%;}
.lrc-wrapper ul {
	padding:0 25px 50px; position:relative;
}
.lrc-wrapper li {
	text-align:center;
}
.lrc-wrapper .ui-lrc-current {
	color:#327088; font-weight:bold;
}

.content{
	position:absolute; top:0px; height:100%; left:172px; right:251px;
}
.song-list,#artist-list{
	width:100%; height:100%; overflow:hidden; position:absolute; top:0; left:0;
}
.song-list .song-list-header{
	width:100%; height:29px; overflow:hidden; line-height:29px; position:relative;
	background: url("../images/MGWE4KMY.png") 0px -1296px repeat-x;
	font-weight: bold;font-size: 12px;color: #333333;border-bottom: 1px solid #dad8d8;
}
.song-list-header .songName{
	position:absolute; top:0; text-indent:46px; width:33.3%;
}
.song-list-header .artistName{
	position:absolute; top:0; border-left:1px solid #dad8d8; width:22.2%; left:33.3%; text-indent:8px;
}
.artistName .artist-name{ font-size:12px;}
.song-list-header .albumName{
	position:absolute; top:0; border-left:1px solid #dad8d8; width:44.4%; right:0; text-indent:8px;
}
.songList-wrapper{
	position:absolute; width:100%; top:30px; bottom:35px; overflow:hidden; overflow-y:auto;
}
.songList-wrapper .songList{
	width:100%;
}
.songList-wrapper .songList li{
	height:30px; line-height:30px; overflow:hidden;
}
.songList-wrapper .songList li:nth-child(even){
	background-color:#f3fafd;
}
.songList-wrapper .songList li:hover{
	background-color:#f0f0f0;
}
.songList li > div{
	height:100%; float:left; overflow:hidden;
}
.songList li .songName{ width:33.3%; }
.songList li .artistName{ width:22.2%; text-indent:8px;}
.songList li .albumName{ width:44.4%; }
.songList li .artistName a:hover{ cursor:pointer; text-decoration:underline;}
.songList li > div > span{
	display:block; float:left; height:100%;
}
.songList li .checkbox{
	width:31px; margin-left:15px;
}
.songList li .checkbox input{ margin-top:9px; display:block; padding:0;}

.songList li .icon{
	float: left;display: none;height: 25px;width: 15px;margin-right: 8px;
	background: url("http://mu8.bdstatic.com/player/t/i/OeVe5xmo.gif") no-repeat center center;
}
.songList li.current .icon{ display:block;}
.songList li.current.pause .icon {
	background: url("http://mu8.bdstatic.com/player/t/i/8PccPQ8D.png") no-repeat center center;
}
.albumName > span:first-child{
	width:55%; text-indent:5px;
}
.albumName .opt a{
	display:none; width:11px; height:11px; line-height:12px; float:left; margin:9px 5px;
	text-decoration:none; outline:none; cursor:pointer;
}
.albumName .opt a.favor{
	background:url("../images/MGWE4KMY.png") no-repeat -84px -444px;
	width:14px; height:12px; display:block;
}
.albumName .opt a.add{
	background:url("../images/MGWE4KMY.png") no-repeat -120px -672px;
}
.albumName .opt a.download{
	background:url("../images/MGWE4KMY.png") no-repeat -168px -564px;
}
.albumName .opt a.delete{
	background:url("../images/MGWE4KMY.png") no-repeat -108px -444px;
}
.songList li:hover .opt a{ display:block;}

#myFooter{
	height:35px; line-height:35px; overflow:hidden; width:100%; border-top:1px solid #d8d8d8;
	background: url("../images/MGWE4KMY.png") 0px -1332px repeat-x;
	position:absolute; left:0px; bottom:0;
}
#myFooter > div{
	height:100%; float:left; overflow:hidden;
}
#myFooter .playlist-length{ float:right; margin-right:30px; color:#333;}
.select-all-combo{
	margin:0px 15px 0px 18px; color:#333333;
}
.select-all-combo > div{ float:left;}
.select-all-combo input[type=checkbox]{
	display:block; margin:0; margin-top:11px; padding:0;
}
.select-all-combo .select-all-text{ margin-left:10px;}
.store-button {
	width:65px; height:25px; margin:5px 5px; float:left; cursor:pointer; border-radius:3px;
	background: url("../images/MGWE4KMY.png") no-repeat -72px -972px;
}
.store-button:hover{
	background: url("../images/MGWE4KMY.png") no-repeat -132px -648px;
}
.no-checked .store-button {
	background: url("../images/MGWE4KMY.png") no-repeat -120px -684px;
}
.add-button {
	width:65px; height:25px; margin:5px 5px; float:left; cursor:pointer; border-radius:3px;
	background:url("../images/MGWE4KMY.png") no-repeat -120px -720px;
}
.add-button:hover {
	background: url("../images/MGWE4KMY.png") no-repeat -72px -1044px;
}
.no-checked .add-button {
	background: url("../images/MGWE4KMY.png") no-repeat 0px -900px;
}
.delete-button {
	width:65px; height:25px; margin:5px 5px; float:left; cursor:pointer; border-radius:3px;
	background:url("../images/MGWE4KMY.png") -132px -756px no-repeat;
}
.delete-button:hover {
	background:url("../images/MGWE4KMY.png") -132px -612px no-repeat;
}
.no-checked .delete-button {
	background:url("../images/MGWE4KMY.png") no-repeat -132px -828px;
}





#artist-list{
	overflow:hidden; position:absolute; width:100%; height:100%; top:0; left:0; display:none;
}
.artist-view-tab {
	width:100%; height:55px; line-height:55px; background:#fff; border-bottom:solid 1px #efeded; position:relative;
}
.artist-view-tab .title {
	font-size:22px; color:#333; margin:0 13px; font-family:"微软雅黑",Sans-Serif;
}
.artist-view-tab .total {
	color:#999;	font-size:12px;
}
.artist-view-content{
	position:absolute; width:100%; top:55px; bottom:0px; overflow:hidden; overflow-y:auto;
}
.artist-view-content ul{
	overflow:hidden;
}
.hot-artist li{
	overflow:hidden; float:left; margin:10px 16px;
}
.hot-artist li a{
	display:block; width:100%; height:100%; cursor:pointer;
}
.hot-artist li img{
	width:130px; height:130px; border-radius:12px;
}
.artist-name {
	width:130px; line-height:25px; font-size:16px; font-family:"微软雅黑"; text-align:center; color:#333; padding-top:8px;
	white-space:nowrap;
}


.artist-view-content::-webkit-scrollbar-track,
.songList-wrapper::-webkit-scrollbar-track,
.leftbar-wrapper::-webkit-scrollbar-track,
.lrc-wrapper::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: #F5F5F5;
}

.artist-view-content::-webkit-scrollbar,
.songList-wrapper::-webkit-scrollbar,
.leftbar-wrapper::-webkit-scrollbar,
.lrc-wrapper::-webkit-scrollbar
{
	width: 10px; background-color: #F5F5F5;
}

.artist-view-content::-webkit-scrollbar-thumb,
.songList-wrapper::-webkit-scrollbar-thumb,
.leftbar-wrapper::-webkit-scrollbar-thumb,
.lrc-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #555;
}













